<div class="container-fluid">
	<div class="row">
		<div id="art-filters-pane" class="col-xs-4 col-md-3 col-xl-2">
			<filter-menu></filter-menu>
		</div>
		<div id="art-gallery-pane" class="col-xs-8 col-md-9 col-xl-10">

			<div class="row">

				<div *ngFor="let artwork of artListService.getFilteredSortedArtworks()" class="col-xs-6 col-md-4 col-xl-3">
					<a routerLink="/art/{{ artwork.url }}">
						<static-dark-background>
							<div class="gallery-card">
								<img class="gallery-thumbnail" id="{{ artwork.url }}" src="/assets/images/art/{{ artwork.url }}/{{ artwork.url }}.{{ artwork.fileFormat }}" (load)="artworkLoaded($event)" [class.loaded]="loadedThumbnails[artwork.url]" />
								<spinner [class.unloaded]="loadedThumbnails[artwork.url]"></spinner>	
								<h3 class="gallery-title">{{ artwork.title }}</h3>
							</div>
						</static-dark-background>
					</a>
				</div>

				<div *ngIf="artListService.getFilteredSortedArtworks().length == 0" class="col-xs-8 offset-xs-2 text-center">
					<p>Well gosh darn, there aren't any images which match this criteria. Choose some different settings
					in the filter menu, or perhaps you'd like to
					<a (click)="artListService.resetAllFiltersOfAllTypes()" class="fake-link">reset all filters?</a></p>
				</div>



			</div>
	
		</div>

	</div>
</div>

<footer-bar>
</footer-bar>