.row{

	margin-bottom: 3rem;
}

.gallery-pane{
	// height: 20rem;
	// width: auto;

	// padding-left: 2rem;
	// padding-right: 2rem;
	// padding-bottom: 2rem;
}

.gallery-card{


	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	
	text-align: center;

	background: url('/assets/images/background3.png');
	background-size: 60rem 60rem;

	.gallery-thumbnail{
		width: 90%;
		height: auto;
		opacity: 0;
		transition: opacity 0.5s;

		position: relative;
		// top: 50%;
		// left: 5%;

		z-index: 100;
	}

	.loaded{
		opacity: 1;
	}


	.gallery-title{
		color: #FFF;
		font-family: 'Jaapokki', sans-serif;
		font-size: 1.25rem;
		margin-top: 0.5rem;
	}

	spinner{
		position: relative;
		// top: 50%;
		left: 10%;
		transition-delay: 1s;
		z-index: 10;
	}

	.unloaded{
		display: none;
	}
}

a:hover{
	text-decoration: none;

}

.gallery-card:hover .gallery-title{
		color: #F2642A;
		text-decoration: none;
}