.row{

	margin-bottom: 3rem;
}

.gallery-card{

	height: 100%;
	width: 100%;

	align: center;

	background: url('/assets/images/background3.png');
	background-size: 60rem 60rem;

	.gallery-thumbnail{
		width: 90%;
		height: auto;
		opacity: 0;
		transition: opacity 0.5s;

		position: relative;
		top: 5%;
		left: 5%;
	}

	.loaded{
		opacity: 1;
	}
}