.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 4rem;
  line-height: 4rem; /* Vertically center the text there */
  
	text-align: center;
}


// .social-icon{

// 	position: relative;

// 	display: inline-block;

// 	height: 2rem;
// 	width: 2rem;

// 	margin-right: 1rem;

// 	border-color: white;
// 	border-width: 0.25rem;
// 	border-style: solid;

// 	top: -50%;

//   -webkit-transform: scaleX(calc(2/3)) rotate(45deg);
//   -moz-transform: scaleX(calc(2/3)) rotate(45deg);
//   -ms-transform: scaleX(calc(2/3)) rotate(45deg);
//   transform: scaleX(calc(2/3)) rotate(45deg);
// }