<nav id="navbar" class="navbar navbar-fixed-top navbar-dark"
	[style.background-position]="getBackgroundPosition()">
  <a class="navbar-brand" routerLink="/">
  	
  	<svg version="1.1" id="nav-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 55.437 26.577" enable-background="new 0 0 55.437 26.577" xml:space="preserve">
		<g>
			<path fill="#FFFFFF" d="M26.021,26.577H0L13.014,0L26.021,26.577z M5.156,23.361h15.709L13.013,7.315L5.156,23.361z"/>
		</g>
		<g>
			<path fill="#F2642A" d="M19.417,0h26.021L32.423,26.577L19.417,0z M40.281,3.216H24.572l7.852,16.046L40.281,3.216z"/>
		</g>
		<g>
			<path fill="#F2642A" d="M29.416,0h26.021L42.423,26.577L29.416,0z M50.281,3.216H34.572l7.852,16.046L50.281,3.216z"/>
		</g>
	</svg>

  </a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/art" routerLinkActive="active-link"><span class="nav-link-box">ART</span><!-- <span class="sr-only">(current)</span> --></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/code" routerLinkActive="active-link"><span class="nav-link-box">CODE</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about" routerLinkActive="active-link"><span class="nav-link-box">AB<span class="naughty-o">O</span>UT</span></a>
    </li>
  </ul>
</nav><!-- 
<div id="nav-fader" #fader
	[style.background-position]="getBackgroundPosition(96)"
	[hidden]="!backgroundOffset"">
</div> -->
<router-outlet></router-outlet>




	<!-- <h1>
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  <br>
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  <br>
	  {{title}}{{title}}
	  <br>
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  <br>
	  {{title}}{{title}}
	  <br>
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  <br>
	  {{title}}{{title}}
	  <br>
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  <br>
	  {{title}}{{title}}
	  <br>
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  <br>
	  {{title}}{{title}}
	  <br>
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  <br>
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	</h1> -->