<nav id="navbar" class="navbar navbar-fixed-top navbar-dark"
	[style.background-position]="getBackgroundPosition()">
  <a class="navbar-brand" href="#">AW</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/art" routerLinkActive="active-link">ART<span class="sr-only">(current)</span>
      	</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">CODE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">AB<span class="naughty-o">O</span>UT</a>
    </li>
  </ul>
</nav><!-- 
<div id="nav-fader" #fader
	[style.background-position]="getBackgroundPosition(96)"
	[hidden]="!backgroundOffset"">
</div> -->

<div class="container-fluid">
	<h1>
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  <br>
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  <br>
	  {{title}}{{title}}
	  <br>
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  <br>
	  {{title}}{{title}}
	  <br>
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  <br>
	  {{title}}{{title}}
	  <br>
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  <br>
	  {{title}}{{title}}
	  <br>
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  <br>
	  {{title}}{{title}}
	  <br>
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  <br>
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  <br>
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	  {{title}}
	  Lorem ipsum
	</h1>
</div>
