<div class="container-fluid">
	<div class="row">
		<div class="col-xs-2">
				<h2>SORT</h2>

				<a (click)="artListService.setSortType('alpha')" class="sort-icon">
					<!-- [class.current-sort-type]="artListService.getSortValue('alpha')"> -->
					<div class="sort-icon-container">
					 <!-- [class.descending]="artListService.getSortValue('alpha') == 2"> -->
						<svg class="filter-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 174.833 100" enable-background="new 0 0 174.833 100" xml:space="preserve">
							<g transform="translate(139.171,38.257)"> 
								<polygon class="triangle" fill="none" stroke-width="7.5" stroke-miterlimit="10" points="-17.754,29.872 17.742,29.872 
								0,-6.385 "/>
							</g>
							<path fill="none" stroke-width="5" stroke-miterlimit="10" d="M73.167,64.331"/>
							<g id="A">
								<text transform="matrix(1 0 0 1 8 55.1045)" font-family="'Jaapokki'" font-size="68">A</text>
							</g>
							<g id="Z">
								<text transform="matrix(1 0 0 1 58.3799 93.2139)" font-family="'Jaapokki'" font-size="68">Z</text>
							</g>
						</svg>
						<span class="tool-tip">Alphabetical</span>
					</div>
				</a>

				<a (click)="artListService.setSortType('chrono')" class="sort-icon">
					<!-- [class.current-sort-type]="artListService.getSortValue('chrono')"> -->
					<div class="sort-icon-container">
					 <!-- [class.descending]="artListService.getSortValue('chrono') == 1"> -->
						<svg class="filter-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 174.833 100" enable-background="new 0 0 174.833 100" xml:space="preserve">
							<g transform="translate(139.171,38.257)"> 
								<polygon class="triangle" fill="none" stroke-width="7.5" stroke-miterlimit="10" points="-17.754,29.872 17.742,29.872 
								0,-6.385 "/>
							</g>
							<circle fill="none" stroke-width="10" stroke-miterlimit="10" cx="59" cy="50" r="40.5"/>
							<g transform="translate(59,50)">
								<g class="hand">
									<circle cx="0" cy="0" r="5"/>
									<line fill="none" stroke-width="10" stroke-miterlimit="10" x1="0" y1="0" x2="0" y2="-28"/>
								</g>
								<g class="hand" id="hour-hand">
									<line fill="none" stroke-width="10" stroke-miterlimit="10" x1="0" y1="0" x2="15.129" y2="12.694"/>
								</g>
							</g>
						</svg>
						<span class="tool-tip">Chronological</span>
					</div>
				</a>
				<br><br>

				<h2>FILTERS</h2>


				<h3>PLATFORMS</h3>
				<br>

				<div  *ngFor="let platform of codeListService.getPlatforms()" class="icon-container">
					<aw-icon [iconName]="platform">
					</aw-icon>
				</div>

				<br>


				<h3>TECHNOLOGIES</h3>
				<br>

				<div  *ngFor="let technology of codeListService.getTechnologies()" class="icon-container">
					<aw-icon [iconName]="technology">
					</aw-icon>
				</div>

				<br>
		</div>

		<div class="col-xs-10">
			<div  *ngFor="let codework of codeListService.getAllCodes()" class="code-panel">
	
					<static-dark-background>
						<div class="row">
							<div class="col-xs-5">
								<img src="/assets/images/code/{{codework.getUrl()}}/{{codework.getImageFilename(0)}}">
							</div>
							<div class="col-xs-7">
								<div class="row">
									<div class="col-xs-6">
										<a routerLink="/code/{{ codework.getUrl() }}">
											<h2 class="code-title">{{ codework.getTitle() }}</h2>
										</a>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="panel-body">{{ codework.getBlurb() }}</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<span *ngFor="let platform of codework.getPlatforms()">
											<aw-icon [iconName]="platform">
											</aw-icon>
										</span>
									</div>
									<div class="col-xs-6">
										<span *ngFor="let technology of codework.getTechnologies()">
											<aw-icon [iconName]="technology">
											</aw-icon>
										</span>
									</div>
								</div>
							</div>
						</div>
					</static-dark-background>
			</div>
		</div>

	</div>		
</div>