<div class="container-fluid">
	<div class="row">
		<div class="col-xs-3">
				<h2>SORT</h2>


				<h2>FILTERS</h2>


				<h3>PLATFORMS</h3>

				<div class="icon-container">
					<aw-icon iconName="Android">
					</aw-icon>
				</div>


				<div class="icon-container">
					<aw-icon iconName="Windows Phone">
					</aw-icon>
				</div>


				<div class="icon-container">
					<aw-icon iconName="Web">
					</aw-icon>
				</div>


				<h3>TECHNOLOGIES</h3>


		</div>

		<div class="col-xs-9">
			<div  *ngFor="let codework of codeListService.getAllCodes()" class="code-panel">
	
					<static-dark-background>
						<div class="row">
							<div class="col-xs-4">
								LEAD IMAGE
							</div>
							<div class="col-xs-8">
								<div class="row">
									<div class="col-xs-6">
										<a routerLink="/code/{{ codework.url }}">
											<h2 class="code-title">{{ codework.getTitle() }}</h2>
										</a>
									</div>
									<div class="col-xs-6">
										<div class="panel-platform-icons">
											<span *ngFor="let platform of codework.getPlatforms()">
												<aw-icon [iconName]="platform">
												</aw-icon>
											</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="panel-body">{{ codework.getBody() }}</div>
									</div>
								</div>
							</div>
						</div>
					</static-dark-background>
			</div>
		</div>

	</div>		
</div>