.test{
	fill: blue;
	r: 30;
}


.location{

	stroke: #F2642A;
	stroke-width: 10;
	stroke-miterlimit: 10;
	cx: 342.112;
	cy: 1038.682;
	r: 0;
	opacity: 1;
	fill: none;

	transition: r 0s, opacity 0s;

}

#circles{
	.expanding{
		r: 150;
		opacity:0;

		transition: r 3s linear, opacity 1s ease 2s;
	}
}