$radarSpeed: 1.5s;

.location{

	stroke: #F2642A;
	stroke-width: 10;
	stroke-miterlimit: 10;
	cx: 342.112;
	cy: 1038.682;
	r: 0;
	opacity: 1;
	fill: none;

	transition: r 0s, opacity 0s;

}

#circles{
	.expanding{
		r: 150;
		opacity:0;

		transition: r (3 * $radarSpeed linear), opacity $radarSpeed ease (2 * $radarSpeed);
	}
}