<h2>SORT</h2>
<a (click)="artListService.setSortType('alpha')" class="sort-icon"
	[class.current-sort-type]="artListService.getSortValue('alpha')">
	<div class="sort-icon-container" [class.descending]="artListService.getSortValue('alpha') == 2">
		<svg class="filter-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 174.833 100" enable-background="new 0 0 174.833 100" xml:space="preserve">
			<g transform="translate(139.171,38.257)"> 
				<polygon class="triangle" fill="none" stroke-width="7.5" stroke-miterlimit="10" points="-17.754,29.872 17.742,29.872 
				0,-6.385 "/>
			</g>
			<path fill="none" stroke-width="5" stroke-miterlimit="10" d="M73.167,64.331"/>
			<g id="A">
				<text transform="matrix(1 0 0 1 8 55.1045)" font-family="'Jaapokki'" font-size="68">A</text>
			</g>
			<g id="Z">
				<text transform="matrix(1 0 0 1 58.3799 93.2139)" font-family="'Jaapokki'" font-size="68">Z</text>
			</g>
		</svg>
		<span class="tool-tip">Alphabetical</span>
	</div>
</a>

<a (click)="artListService.setSortType('chrono')" class="sort-icon"
	[class.current-sort-type]="artListService.getSortValue('chrono')">
	<div class="sort-icon-container" [class.descending]="artListService.getSortValue('chrono') == 1">
		<svg class="filter-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 174.833 100" enable-background="new 0 0 174.833 100" xml:space="preserve">
			<g transform="translate(139.171,38.257)"> 
				<polygon class="triangle" fill="none" stroke-width="7.5" stroke-miterlimit="10" points="-17.754,29.872 17.742,29.872 
				0,-6.385 "/>
			</g>
			<circle fill="none" stroke-width="10" stroke-miterlimit="10" cx="59" cy="50" r="40.5"/>
			<g transform="translate(59,50)">
				<g class="hand">
					<circle cx="0" cy="0" r="5"/>
					<line fill="none" stroke-width="10" stroke-miterlimit="10" x1="0" y1="0" x2="0" y2="-28"/>
				</g>
				<g class="hand" id="hour-hand">
					<line fill="none" stroke-width="10" stroke-miterlimit="10" x1="0" y1="0" x2="15.129" y2="12.694"/>
				</g>
			</g>
		</svg>
		<span class="tool-tip">Chronological</span>
	</div>
</a>
<br><br>



<h2>FILTERS</h2>

<div class="row">
	<div class="col-xs-6">	
		<h3>MEDIUM</h3>
	</div>
	<div class="col-xs-6 set-all-filters" [ngSwitch]="artListService.ifAnyFiltersSet('media')">
		<a (click)="artListService.setOrClearAllFilters('media', true)">
			<span *ngSwitchCase="true">CLEAR ALL</span>
		</a>
		<a (click)="artListService.setOrClearAllFilters('media', false)">
			<span *ngSwitchCase="false">SET ALL</span>
		</a>
	</div>
</div>


<div *ngFor="let medium of media" class="filter-option-div">
	<label [class.unselected]="!artListService.getFilterValue('media', medium)">
		<input type="checkbox" [checked]="artListService.getFilterValue('media', medium)"
			(change)="artListService.setFilterValue('media', medium)" />
		<svg class="cb-cross" x="0px" y="0px" viewBox="0 0 100 100">
	  	<line class="cb-line cb-line-1" x1="-100" y1="-100" x2="0" y2="0"/>
	  	<line class="cb-line cb-line-2" x1="200" y1="-100" x2="100" y2="0"/>
		</svg>
		{{ medium }}
	</label> 
</div>


<div class="row">
	<div class="col-xs-6">	
		<h3>TYPES</h3>
	</div>
	<div class="col-xs-6 set-all-filters" [ngSwitch]="artListService.ifAnyFiltersSet('types')">
		<a (click)="artListService.setOrClearAllFilters('types', true)">
			<span *ngSwitchCase="true">CLEAR ALL</span>
		</a>
		<a (click)="artListService.setOrClearAllFilters('types', false)">
			<span *ngSwitchCase="false">SET ALL</span>
		</a>
	</div>
</div>

<div *ngFor="let type of types" class="filter-option-div">
	<label [class.unselected]="!artListService.getFilterValue('types', type)">
		<input type="checkbox" [checked]="artListService.getFilterValue('types', type)"
			(change)="artListService.setFilterValue('types', type)" />
		<svg class="cb-cross" x="0px" y="0px" viewBox="0 0 100 100">
	  	<line class="cb-line cb-line-1" x1="-100" y1="-100" x2="0" y2="0"/>
	  	<line class="cb-line cb-line-2" x1="200" y1="-100" x2="100" y2="0"/>
		</svg>
		{{ type }}
	</label> 
</div>

<div class="row">
	<div class="col-xs-6">	
		<h3>TAGS</h3>
	</div>
	<div class="col-xs-6 set-all-filters" [ngSwitch]="artListService.ifAnyFiltersSet('references')">
		<a (click)="artListService.setOrClearAllFilters('references', true)">
			<span *ngSwitchCase="true">CLEAR ALL</span>
		</a>
		<a (click)="artListService.setOrClearAllFilters('references', false)">
			<span *ngSwitchCase="false">SET ALL</span>
		</a>
	</div>
</div>


<div *ngFor="let reference of references" class="filter-option-div">

	<label [class.unselected]="!artListService.getFilterValue('references', reference)">
		<input type="checkbox" [checked]="artListService.getFilterValue('references', reference)"
			(change)="artListService.setFilterValue('references', reference)" />
		<svg class="cb-cross" x="0px" y="0px" viewBox="0 0 100 100">
	  	<line class="cb-line cb-line-1" x1="-100" y1="-100" x2="0" y2="0"/>
	  	<line class="cb-line cb-line-2" x1="200" y1="-100" x2="100" y2="0"/>
		</svg>
		{{ reference }}
	</label> 
</div>

<div>
	
</div>
