<h2>SORT</h2>
<a (click)="artListService.setSortType('alpha')" class="sort-icon">
	<span>A-Z</span>
</a>
<a (click)="artListService.setSortType('chrono')" class="sort-icon">
	<span>Time</span>
</a>
<br><br>

<h2>FILTERS</h2>

<h3>MEDIUM</h3>
<span [ngSwitch]="artListService.ifAnyFiltersSet('media')" class="set-all-filters">
	<a (click)="artListService.setOrClearAllFilters('media', true)">
		<span *ngSwitchCase="true">CLEAR ALL</span>
	</a>
	<a (click)="artListService.setOrClearAllFilters('media', false)">
		<span *ngSwitchCase="false">SET ALL</span>
	</a>
</span>


<div *ngFor="let medium of media" class="filter-option-div">
	<label>
		<input type="checkbox" [checked]="artListService.getFilterValue('media', medium)"
			(change)="artListService.setFilterValue('media', medium)" />
		<svg class="cb-cross" x="0px" y="0px" viewBox="0 0 100 100">
	  	<line class="cb-line cb-line-1" x1="-100" y1="-100" x2="0" y2="0"/>
	  	<line class="cb-line cb-line-2" x1="200" y1="-100" x2="100" y2="0"/>
		</svg>
		{{ medium }}
	</label> 
</div>


<h3>IMAGE TYPE</h3>
<span [ngSwitch]="artListService.ifAnyFiltersSet('types')" class="set-all-filters">
	<a (click)="artListService.setOrClearAllFilters('types', true)">
		<span *ngSwitchCase="true">CLEAR ALL</span>
	</a>
	<a (click)="artListService.setOrClearAllFilters('types', false)">
		<span *ngSwitchCase="false">SET ALL</span>
	</a>
</span>

<div *ngFor="let type of types" class="filter-option-div">
	<label>
		<input type="checkbox" [checked]="artListService.getFilterValue('types', type)"
			(change)="artListService.setFilterValue('types', type)" />
		<svg class="cb-cross" x="0px" y="0px" viewBox="0 0 100 100">
	  	<line class="cb-line cb-line-1" x1="-100" y1="-100" x2="0" y2="0"/>
	  	<line class="cb-line cb-line-2" x1="200" y1="-100" x2="100" y2="0"/>
		</svg>
		{{ type }}
	</label> 
</div>

<h3>TAGS</h3>
<span [ngSwitch]="artListService.ifAnyFiltersSet('references')" class="set-all-filters">
	<a (click)="artListService.setOrClearAllFilters('references', true)">
		<span *ngSwitchCase="true">CLEAR ALL</span>
	</a>
	<a (click)="artListService.setOrClearAllFilters('references', false)">
		<span *ngSwitchCase="false">SET ALL</span>
	</a>
</span>


<div *ngFor="let reference of references" class="filter-option-div">

	<label>
		<input type="checkbox" [checked]="artListService.getFilterValue('references', reference)"
			(change)="artListService.setFilterValue('references', reference)" />
		<svg class="cb-cross" x="0px" y="0px" viewBox="0 0 100 100">
	  	<line class="cb-line cb-line-1" x1="-100" y1="-100" x2="0" y2="0"/>
	  	<line class="cb-line cb-line-2" x1="200" y1="-100" x2="100" y2="0"/>
		</svg>
		{{ reference }}
	</label> 
</div>

<div>
	
</div>
