h2 {
		font-family: 'Jaapokki', sans-serif;
		font-size: 1.5rem;
}


h3 {

		font-family: 'Jaapokki', sans-serif;
		font-size: 1rem;

		margin-top: 1.5rem;
}

label {

		font-family: 'Jaapokki', sans-serif;
		font-size: 0.825rem;
}