h2 {
	font-family: 'Jaapokki', sans-serif;
	font-size: 1.5rem;
}

h3 {

	display: inline-block;

	font-family: 'Jaapokki', sans-serif;
	font-size: 1rem;

	margin-top: 1.5rem;

}

.filter-icon{
	height: 1.5rem;
	width: 1.5rem;
	cursor: pointer;

	stroke: #FFF;
	fill: #FFF;


	transition: 0.5s ease-out;
}

.current-sort-type{
	.filter-icon{

		stroke: #F2642A;
		fill:  #F2642A;
	}
}

.ascending{

}

.descending{
	font-weight: bolder;
}

.set-all-filters{

	display: inline;

	top: 1.5rem;

	font-family: 'Jaapokki', sans-serif;
	color: #F2642A;
	font-size: 0.66rem;

	float: right;
	cursor: pointer;
}


.filter-option-div{

	position: relative;

	label {

		font-family: 'Jaapokki', sans-serif;
		font-size: 1rem;

		//opacity: 0.4;
		display: inline-block;
		position: relative;
		padding: 0 0 0 1.5rem;
		vertical-align: middle;
		cursor: pointer;

		transition: color 0.5s ease-out;
	}

	.unselected{
		color: #555 !important;
	}

	label::before {
		content: '';
		border: 0.1rem solid #fff !important;
	}

	input[type="checkbox"]{
		opacity: 0;
		display: inline-block;
		vertical-align: top;
		z-index: 100;
	}

	input[type="checkbox"],
	label::before,
	.cb-cross
	{
		width: 1rem;
		height: 1rem;
		top: 45%;
		left: 0;
		margin-top: -0.5rem;
		position: absolute;
		cursor: pointer;
	}

	// input[type="checkbox"]:checked + label {
	// 	opacity: 1;
	// }

	.cb-line{
		stroke: #FFF;
		stroke-width:10;
	}

	.cb-line-1{

		transition: 0.3s ease-out;
	}

	.cb-line-2{

		transition: 0.3s ease-out 0.5s;
	}

	input[type="checkbox"]:checked + svg{

		.cb-line-1{
		  -ms-transform: translate(100px, 100px); /* IE 9 */
	    -webkit-transform: translate(100px, 100px); /* Safari */
	    transform: translate(100px, 100px);
		}

		.cb-line-2{
		  -ms-transform: translate(-100px, 100px); /* IE 9 */
	    -webkit-transform: translate(-100px, 100px); /* Safari */
	    transform: translate(-100px, 100px);
		}
	}
}