h2 {
	font-family: 'Jaapokki', sans-serif;
	font-size: 1.5rem;
}


h3 {

	font-family: 'Jaapokki', sans-serif;
	font-size: 1rem;

	margin-top: 1.5rem;
}

label {

	font-family: 'Jaapokki', sans-serif;
	font-size: 1rem;

	//opacity: 0.4;
	display: inline-block;
	position: relative;
	padding: 0 0 0 1.5rem;
	vertical-align: middle;
	cursor: pointer;
}

label::before {
	content: '';
	border: 0.1rem solid #fff !important;
}

input[type="checkbox"]{
	opacity: 0;
	display: inline-block;
	vertical-align: top;
	z-index: 100;
}

input[type="checkbox"],
label::before {
	width: 1rem;
	height: 1rem;
	top: 45%;
	left: 0;
	margin-top: -0.5rem;
	position: absolute;
	cursor: pointer;
}

// input[type="checkbox"]:checked + label {
// 	opacity: 1;
// } 