/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Jaapokki';
  src: url('./assets/fonts/jaapokki-regular.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/jaapokki-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/jaapokki-regular.ttf')  format('truetype') /* Safari, Android, iOS */
}



body{
	background-color: #333;
	background: url('./assets/images/background.png');

	padding-top: 6rem;

	color: #FFF;
}

.navbar{

	height: 6rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
	background: url('./assets/images/background.png');

	font-family: 'Jaapokki', sans-serif;
}

.navbar-brand{
	font-size: 2.75em;
}

.navbar-nav{
	/*Float to the right*/
    margin-left: auto;

    font-size: 1.5em;
}

.navbar-nav a{
	color: #FF7200 !important;
	letter-spacing: 0.1em;
	padding: 0.5em;
	margin-left: 0.25em;
	margin-right: 0.25em;
}

.navbar-nav a:hover{
	color: #FFFFFF !important;
}