/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Jaapokki';
  src: url('./assets/fonts/jaapokki-regular.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/jaapokki-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/jaapokki-regular.ttf')  format('truetype') /* Safari, Android, iOS */
}



body{
	background-color: #333;
	background: url('./assets/images/background1.png');
	background-size: 60rem 60rem;

	padding-top: 9rem;

	color: #FFF;
}

.naughty-o{

	margin-left: -0.05em;
}

.navbar{

	height: 6rem;

	display: flex;
	align-items: center;
	justify-content: space-between;

	background: url('./assets/images/background3.png');
	background-size: 60rem 60rem;

	font-family: 'Jaapokki', sans-serif;
}

/*#nav-fader{
	height: 2.5rem;

	background: url('./assets/images/background1.png');
	background-size: 60rem 60rem;
	background-position: 0rem -6rem;

	position: fixed;
	width: 100%;
	top: 6rem; /*navbar's height
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    /*-moz-mask-image:-moz-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}*/

.navbar-brand{
	font-size: 2.75rem;
	display: inline-flex;
}

#nav-logo{
	height: 3rem;
	width: auto;
	margin-left: 0.5rem;
}

.navbar-nav{
	/*Float to the right*/
    margin-left: auto;

}

.nav-link-box {
	position: relative;

	color: #FFF !important;
    font-size: 1.5rem;
	letter-spacing: 0.5rem;

	/* Compensating for Jaapokki's weird spacing issues*/
	padding: 0.85rem 0.8rem 0.45rem 1.3rem !important;
	margin-left: 0.25rem;
	margin-right: 0.25rem;

}

.navbar-nav a:hover .nav-link-box,
.navbar-nav a:focus .nav-link-box {
	color: #FF7200 !important;
}


/* 'DRAW BORDER' LINK EFFECT*/
.nav-link-box:before,
.nav-link-box:after{

  content: "";
  position: absolute;
  visibility: hidden;

  height: 0%;
  width: 0%;

  border-color: #FF7200;
  border-style: solid;

  -webkit-transition: width 0.3s ease-out 0.3s, height 0.3s ease-out, visibility 0s linear 0.6s;

}

.nav-link-box:before{
	bottom: 0;
	right: 0;

	border-width: 0rem 0rem 0.25rem 0.25rem;
}

.nav-link-box:after{
	top: 0;
	left: 0;

	border-width: 0.25rem 0.25rem 0rem 0rem;
}

.active-link .nav-link-box{
	color: #FF7200;
}

.active-link .nav-link-box:before,
.active-link .nav-link-box:after {

  height: 100%;
  width: 100%;

  visibility: visible;
  -webkit-transition: width 0.3s ease-out, height 0.3s ease-out 0.3s, visibility 0s linear;
}



/* ================= */

.row{
	font-size: 1.5rem;
	font-family: 'Raleway';
	color: #DDD;
}

.lead-cap{
	font-size: 1.25em;
	color: #FF7200;
}


h2{
	font-family: 'Jaapokki';
}

#prev-arrow{
	position: fixed;
	top: calc(50% - 1rem);
	width: 2rem;
	height: auto;
	transform: rotate(-90deg);
}

#next-arrow{
	position: fixed;
	top: calc(50% - 1rem);
	width: 2rem;
	height: auto;
	transform: rotate(90deg);
}

.arrow-link:hover path{
	fill: #FF7200;
}